Repository SabrinaDiLeva/ProyectoIntegrador_Grupo9: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, frontend_build_job, test-backend, deploy-backend, frontend_deploy_job

.gitlab-ci.yml:

stages:
  - build
  - test
  - deploy


build-backend:
  stage: build
  image: maven:3.8.6-openjdk-18-slim
  script:
    - cd ./Backend
    - echo "Compiling the code..."
    - mvn clean install 
    - mvn compile jar:jar
    - mvn package

  artifacts:
    paths:
      - Backend/target/PIGrupo9.jar

  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main"'
      changes:
        - Backend/**/*


frontend_build_job:
  stage: build
  image: node:latest
  script:
    - cd ./Frontend/proyecto-integrador
    - echo "Start building App"
    - npm install
    - CI=false npm run build
    - echo "Build successfully!"
  artifacts:
    paths:
      - Frontend/proyecto-integrador/build/
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main"'
      changes:
        - Frontend/**/*

test-backend:
  stage: test
  script:
    - echo "Running unit tests..."
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main"'
      changes:
        - Backend/**/*

deploy-backend:
  stage: deploy
  image: alpine:3.11
  before_script:
    - apk update && apk add openssh-client bash
    - mkdir -p ~/.ssh
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - touch ~/.ssh/config
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
    - ssh-keyscan -H $DEPLOY_SERVER_IP >> ~/.ssh/known_hosts
    
  script:
    - ssh ubuntu@$DEPLOY_SERVER_IP "sudo apt install openjdk-18-jdk -y"
    # - ssh ubuntu@$DEPLOY_SERVER_IP "sudo systemctl stop tomcat"
    - scp ./Backend/target/PIGrupo9.jar ubuntu@$DEPLOY_SERVER_IP:/home/ubuntu/tmp/PIGrupo9.jar
    # - ssh ubuntu@$DEPLOY_SERVER_IP "sudo mv /home/ubuntu/tmp/PIGrupo9.war /opt/tomcat/webapps/PIGrupo9.war"
    - ssh ubuntu@$DEPLOY_SERVER_IP "cd /home/ubuntu/tmp/; sudo nohup java -jar PIGrupo9.jar &."
    # - ssh ubuntu@$DEPLOY_SERVER_IP "sudo systemctl start tomcat"

  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main"'
      changes:
        - Backend/**/*

frontend_deploy_job:
  stage: deploy
  image: python:latest
  script:
      - echo "Deploying App"
      - pip3 install awscli
      - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
      - aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY
      - aws s3 sync ./Frontend/proyecto-integrador/build s3://$S3_BUCKET_NAME --delete
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main"'
      changes:
        - Frontend/**/*

ADD: filtro por categoria
  .idea/workspace.xml
  Backend/src/main/java/com/example/Backend/controller/ProductoController.java
  Backend/src/main/java/com/example/Backend/repository/IProductoRepository.java
  Backend/src/main/java/com/example/Backend/service/ProductoService.java
  Backend/src/test/java/com/example/Backend/service/CategoriaServiceTest.java
  Backend/src/test/java/com/example/Backend/service/ImagenServiceTest.java
  Backend/src/test/java/com/example/Backend/service/ProductoServiceTest.java
  Frontend/proyecto-integrador/src/components/Categoria/Categoria.js
  Frontend/proyecto-integrador/src/components/Categoria/Categoria.module.css
  Frontend/proyecto-integrador/src/components/Categoria/SeccionCategoria.js
  Frontend/proyecto-integrador/src/components/Home/Home.js
  Frontend/proyecto-integrador/src/components/Listado/Listado.js
  Frontend/proyecto-integrador/src/service/productoApi.js
Due: build-backend, frontend_build_job, test-backend, deploy-backend, frontend_deploy_job

Display Busqueda Border
  .idea/workspace.xml
  Frontend/proyecto-integrador/src/components/Bloque-buscador/subcomponents/displayBusqueda.module.css
  Frontend/proyecto-integrador/src/components/Bloque-buscador/subcomponents/location.module.css
  Frontend/proyecto-integrador/src/components/Categoria/SeccionCategoria.js
Due: frontend_build_job, frontend_deploy_job

Chau Idea
  .idea/modules.xml
  .idea/workspace.xml
Due: none

Chau idea
  Frontend/proyecto-integrador/.idea/inspectionProfiles/Project_Default.xml
  Frontend/proyecto-integrador/.idea/jpa-buddy.xml
  Frontend/proyecto-integrador/.idea/misc.xml
  Frontend/proyecto-integrador/.idea/modules.xml
  Frontend/proyecto-integrador/.idea/proyecto-integrador.iml
  Frontend/proyecto-integrador/.idea/vcs.xml
  Frontend/proyecto-integrador/.idea/workspace.xml
Due: frontend_build_job, frontend_deploy_job

Delete Backend/.idea directory
  Backend/.idea/jpa-buddy.xml
  Backend/.idea/misc.xml
Due: build-backend, test-backend, deploy-backend

Delete Backend/.mvn/wrapper directory
  Backend/.mvn/wrapper/maven-wrapper.properties
Due: build-backend, test-backend, deploy-backend

ArtifactID = PIGrupo9
  .gitignore
  .idea/workspace.xml
  Backend/pom.xml
Due: build-backend, test-backend, deploy-backend

pom + .mvn
  Backend/pp.txt
  Frontend/pp.txt
Due: build-backend, frontend_build_job, test-backend, deploy-backend, frontend_deploy_job

correcciones varias
  Frontend/proyecto-integrador/src/components/Bloque-buscador/BuscadorReact.css
  Frontend/proyecto-integrador/src/components/Bloque-buscador/DateRangeComp.js
  Frontend/proyecto-integrador/src/components/Tarjeta-Producto/TarjetaProducto.js
  Frontend/proyecto-integrador/src/components/Tarjeta-Producto/tarjetaProducto.module.css
Due: frontend_build_job, frontend_deploy_job

target
  Backend/target/classes/application.properties
Due: build-backend, test-backend, deploy-backend

yml
  .gitlab-ci.yml
  Frontend/pp.txt
Due: frontend_build_job, frontend_deploy_job

maxoldsize package.json
  .gitlab-ci.yml
  Frontend/proyecto-integrador/package.json
Due: frontend_build_job, frontend_deploy_job

Cambios varios
  Frontend/proyecto-integrador/src/components/Header/minicomponents/navBar.js
  Frontend/proyecto-integrador/src/components/Login/Login.js
  Frontend/proyecto-integrador/src/components/Login/login.module.css
  Frontend/proyecto-integrador/src/components/Reserva/bloques/DatosPersonales.js
  Frontend/proyecto-integrador/src/components/Reserva/bloques/detalle.module.css
  Frontend/proyecto-integrador/src/hooks/useForm.js
  Frontend/proyecto-integrador/src/service/EndPoint.js
Due: frontend_build_job, frontend_deploy_job

iml
  Backend/PIGrupo9.iml
Due: build-backend, test-backend, deploy-backend

se modifico reservas DTO
  Backend/src/main/java/com/example/Backend/controller/UsuarioController.java
  Backend/src/main/java/com/example/Backend/dto/command/ReservaDTO.java
  Backend/src/main/java/com/example/Backend/repository/IUsuarioRepository.java
  Backend/src/main/java/com/example/Backend/service/ReservaService.java
  Backend/src/main/java/com/example/Backend/service/UsuarioService.java
Due: build-backend, test-backend, deploy-backend
