Repository SabrinaDiLeva/ProyectoIntegrador_Grupo9: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, frontend_build_job, test-backend, deploy-backend, frontend_deploy_job

.gitlab-ci.yml:

stages:
  - build
  - test
  - deploy


build-backend:
  stage: build
  image: maven:3.8.6-openjdk-18-slim
  script:
    - cd ./Backend
    - echo "Compiling the code..."
    - mvn clean install 
    - mvn compile jar:jar
    - mvn package

  artifacts:
    paths:
      - Backend/target/PIGrupo9.jar

  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main"'
      changes:
        - Backend/**/*


frontend_build_job:
  stage: build
  image: node:latest
  script:
    - cd ./Frontend/proyecto-integrador
    - echo "Start building App"
    - npm install
    - CI=false npm run build
    - echo "Build successfully!"
  artifacts:
    paths:
      - Frontend/proyecto-integrador/build/
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main"'
      changes:
        - Frontend/**/*

test-backend:
  stage: test
  script:
    - echo "Running unit tests..."
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main"'
      changes:
        - Backend/**/*

deploy-backend:
  stage: deploy
  image: alpine:3.11
  before_script:
    - apk update && apk add openssh-client bash
    - mkdir -p ~/.ssh
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - touch ~/.ssh/config
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
    - ssh-keyscan -H $DEPLOY_SERVER_IP >> ~/.ssh/known_hosts
    
  script:
    - ssh ubuntu@$DEPLOY_SERVER_IP "sudo apt install openjdk-18-jdk -y"
    # - ssh ubuntu@$DEPLOY_SERVER_IP "sudo systemctl stop tomcat"
    - scp ./Backend/target/PIGrupo9.jar ubuntu@$DEPLOY_SERVER_IP:/home/ubuntu/tmp/PIGrupo9.jar
    # - ssh ubuntu@$DEPLOY_SERVER_IP "sudo mv /home/ubuntu/tmp/PIGrupo9.war /opt/tomcat/webapps/PIGrupo9.war"
    - ssh ubuntu@$DEPLOY_SERVER_IP "cd /home/ubuntu/tmp/; sudo nohup java -jar PIGrupo9.jar &."
    # - ssh ubuntu@$DEPLOY_SERVER_IP "sudo systemctl start tomcat"

  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main"'
      changes:
        - Backend/**/*

frontend_deploy_job:
  stage: deploy
  image: python:latest
  script:
      - echo "Deploying App"
      - pip3 install awscli
      - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
      - aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY
      - aws s3 sync ./Frontend/proyecto-integrador/build s3://$S3_BUCKET_NAME --delete
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main"'
      changes:
        - Frontend/**/*

cambio cross origin
  Backend/src/main/java/com/controller/CaracteristicaController.java
  Backend/src/main/java/com/controller/CategoriaController.java
  Backend/src/main/java/com/controller/CiudadController.java
  Backend/src/main/java/com/controller/ImagenController.java
  Backend/src/main/java/com/controller/ProductoController.java
  Backend/src/main/java/com/controller/ReservaController.java
  Backend/src/main/java/com/controller/UsuarioController.java
Due: build-backend, test-backend, deploy-backend

Archivos creado para el segumiento de infra
  Infra/InformeInfra_PrimerSprint_Grupo9.pdf
  Infra/Infra_PrimerSprint_Grupo9.jpg
  Infra/RepositoriosDelProyecto.txt
Due: none

Archivos creado para el segumiento de las pruebas
  Testing/CasosDePrueba_Grupo9.xlsx
  Testing/PrimerSprint_Postman_Grupo9.pdf
  Testing/PruebasLink.text
Due: none

Agrego test de jest
  Frontend/proyecto-integrador/package.json
  Frontend/proyecto-integrador/src/__tests__/test.jest.js
Due: frontend_build_job, frontend_deploy_job

productoExito terminado
  Frontend/proyecto-integrador/src/components/Categoria/SeccionCategoria.js
  Frontend/proyecto-integrador/src/components/ProductoExito/ProductoExito.js
  Frontend/proyecto-integrador/src/components/ProductoExito/ProductoExito.module.css
  Frontend/proyecto-integrador/src/components/ReservaExito/ReservaExito.js
  Frontend/proyecto-integrador/src/components/ReservaExito/subcomponents/ExitoContainer.js
  Frontend/proyecto-integrador/src/components/ReservaExito/subcomponents/ExitoContainer.module.css
Due: frontend_build_job, frontend_deploy_job

empezando crear producto
  Frontend/proyecto-integrador/src/components/CrearProducto/CrearProducto.js
  Frontend/proyecto-integrador/src/components/CrearProducto/CrearProducto.module.css
  Frontend/proyecto-integrador/src/components/Login/Login.js
Due: frontend_build_job, frontend_deploy_job

empezando crear producto
  Backend/target/classes/com/ProyectoIntegradorGrupo9Application.class
  Backend/target/classes/com/controller/CaracteristicaController.class
  Backend/target/classes/com/controller/CategoriaController.class
  Backend/target/classes/com/controller/CiudadController.class
  Backend/target/classes/com/controller/ImagenController.class
  Backend/target/classes/com/controller/ProductoController.class
  Backend/target/classes/com/controller/ReservaController.class
  Backend/target/classes/com/controller/UsuarioController.class
  Backend/target/classes/com/dto/command/CaracteristicaDTO.class
  Backend/target/classes/com/dto/command/CategoriaDTO.class
  Backend/target/classes/com/dto/command/CiudadDTO.class
  Backend/target/classes/com/dto/command/ImagenDTO.class
  Backend/target/classes/com/dto/command/ProductoDTO.class
  Backend/target/classes/com/dto/command/ReservaDTO.class
  Backend/target/classes/com/dto/command/UsuarioDTO.class
  Backend/target/classes/com/model/Cancelacion.class
  Backend/target/classes/com/model/Caracteristica.class
  Backend/target/classes/com/model/Categoria.class
  Backend/target/classes/com/model/Ciudad.class
  Backend/target/classes/com/model/Fecha.class
  Backend/target/classes/com/model/Imagen.class
  Backend/target/classes/com/model/Norma.class
  Backend/target/classes/com/model/Producto.class
  Backend/target/classes/com/model/Reserva.class
  Backend/target/classes/com/model/Rol.class
  Backend/target/classes/com/model/Seguridad.class
  Backend/target/classes/com/model/Usuario.class
  Backend/target/classes/com/repository/IImagenRepository.class
  Backend/target/classes/com/repository/IProductoRepository.class
  Backend/target/classes/com/service/CaracteristicaService.class
  Backend/target/classes/com/service/CategoriaService.class
  Backend/target/classes/com/service/CiudadService.class
  Backend/target/classes/com/service/IService.class
  Backend/target/classes/com/service/ImagenService.class
  Backend/target/classes/com/service/ProductoService.class
  Backend/target/classes/com/service/ReservaService.class
  Backend/target/classes/com/service/UsuarioService.class
Due: build-backend, test-backend, deploy-backend

caracteristica,categoria y ciudad
  Backend/src/main/java/com/dto/command/CategoriaDTO.java
  Backend/src/test/java/com/CategoriaTest.java
  Backend/src/test/java/com/service/CaracteristicaServiceTest.java
  Backend/src/test/java/com/service/CategoriaServiceTest.java
  Backend/src/test/java/com/service/CiudadServiceTest.java
  Backend/target/classes/com/dto/command/CategoriaDTO.class
  Backend/target/classes/com/service/CategoriaService.class
  Backend/target/test-classes/com/service/CaracteristicaServiceTest.class
  Backend/target/test-classes/com/service/CategoriaServiceTest.class
  Backend/target/test-classes/com/service/CiudadServiceTest.class
Due: build-backend, test-backend, deploy-backend

imagen
  Backend/src/test/java/com/service/ImagenServiceTest.java
  Backend/target/test-classes/com/service/ImagenServiceTest.class
Due: build-backend, test-backend, deploy-backend

producto
  Backend/src/test/java/com/service/ProductoServiceTest.java
  Backend/target/test-classes/com/service/ProductoServiceTest.class
Due: build-backend, test-backend, deploy-backend

fixes
  Frontend/proyecto-integrador/package-lock.json
  Frontend/proyecto-integrador/package.json
  Frontend/proyecto-integrador/src/App.css
  Frontend/proyecto-integrador/src/components/Footer/Footer.js
  Frontend/proyecto-integrador/src/components/Tarjeta-Producto/TarjetaProducto.js
  Frontend/proyecto-integrador/src/components/Tarjeta-Producto/subcomponents/Titulo.js
  Frontend/proyecto-integrador/src/components/Tarjeta-Producto/subcomponents/headerInformacion.module.css
  Frontend/proyecto-integrador/src/components/Tarjeta-Producto/subcomponents/titulo.module.css
  Frontend/proyecto-integrador/src/components/Tarjeta-Producto/tarjetaProducto.module copy.css
  Frontend/proyecto-integrador/src/components/Tarjeta-Producto/tarjetaProducto.module.css
  package-lock.json
Due: frontend_build_job, frontend_deploy_job

reserva
  Backend/src/test/java/com/service/ReservaServiceTest.java
  Backend/target/test-classes/com/service/ReservaServiceTest.class
Due: build-backend, test-backend, deploy-backend

usuario
  Backend/src/test/java/com/service/UsuarioServiceTest.java
  Backend/target/test-classes/com/service/UsuarioServiceTest.class
Due: build-backend, test-backend, deploy-backend

crear producto
  Frontend/proyecto-integrador/src/App.js
  Frontend/proyecto-integrador/src/components/CrearProducto/CrearProducto.js
  Frontend/proyecto-integrador/src/components/CrearProducto/CrearProducto.module.css
  Frontend/proyecto-integrador/src/components/ImagenWrapper/imagen.module.css
  Frontend/proyecto-integrador/src/components/ui/icons.js
Due: frontend_build_job, frontend_deploy_job

crear producto mobile terminado
  Frontend/proyecto-integrador/src/components/CrearProducto/CrearProducto.js
  Frontend/proyecto-integrador/src/components/CrearProducto/CrearProducto.module.css
Due: frontend_build_job, frontend_deploy_job

crear producto tablet & desk terminado
  Frontend/proyecto-integrador/src/components/CrearProducto/CrearProducto.js
  Frontend/proyecto-integrador/src/components/CrearProducto/CrearProducto.module.css
Due: frontend_build_job, frontend_deploy_job

restauracion
  Backend/target/classes/com/ProyectoIntegradorGrupo9Application.class
  Backend/target/classes/com/controller/CiudadController.class
  Backend/target/classes/com/controller/ProductoController.class
  Backend/target/classes/com/controller/ReservaController.class
  Backend/target/classes/com/dto/command/CaracteristicaDTO.class
  Backend/target/classes/com/dto/command/CiudadDTO.class
  Backend/target/classes/com/dto/command/ImagenDTO.class
  Backend/target/classes/com/dto/command/ProductoDTO.class
  Backend/target/classes/com/dto/command/ReservaDTO.class
  Backend/target/classes/com/dto/command/UsuarioDTO.class
  Backend/target/classes/com/model/Cancelacion.class
  Backend/target/classes/com/model/Caracteristica.class
  Backend/target/classes/com/model/Categoria.class
  Backend/target/classes/com/model/Ciudad.class
  Backend/target/classes/com/model/Fecha.class
  Backend/target/classes/com/model/Imagen.class
  Backend/target/classes/com/model/Norma.class
  Backend/target/classes/com/model/Producto.class
  Backend/target/classes/com/model/Reserva.class
  Backend/target/classes/com/model/Rol.class
  Backend/target/classes/com/model/Seguridad.class
  Backend/target/classes/com/model/Usuario.class
  Backend/target/classes/com/repository/IImagenRepository.class
  Backend/target/classes/com/repository/IProductoRepository.class
  Backend/target/classes/com/repository/IReservaRepository.class
  Backend/target/classes/com/service/CaracteristicaService.class
  Backend/target/classes/com/service/CiudadService.class
  Backend/target/classes/com/service/IService.class
  Backend/target/classes/com/service/ImagenService.class
  Backend/target/classes/com/service/ProductoService.class
  Backend/target/classes/com/service/ReservaService.class
  Backend/target/classes/com/service/UsuarioService.class
Due: build-backend, test-backend, deploy-backend

Login funcional con jwt
  Frontend/proyecto-integrador/src/components/Login/Login.js
  Frontend/proyecto-integrador/src/hooks/useForm.js
Due: frontend_build_job, frontend_deploy_job

endpoint ciudades y categorias
  Frontend/proyecto-integrador/src/App.js
  Frontend/proyecto-integrador/src/components/CrearProducto/CrearProducto.js
  Frontend/proyecto-integrador/src/components/CrearProducto/CrearProducto.module.css
  Frontend/proyecto-integrador/src/components/CrearProducto/subcomponentes/ListadoCategoria.js
  Frontend/proyecto-integrador/src/components/CrearProducto/subcomponentes/ListadoCategoria.module.css
  Frontend/proyecto-integrador/src/components/CrearProducto/subcomponentes/ListadoCiudad.js
  Frontend/proyecto-integrador/src/components/CrearProducto/subcomponentes/ListadoCiudad.module.css
Due: frontend_build_job, frontend_deploy_job

Login, registro, cerrar sesion y vista de información del usuario hecha
  Frontend/proyecto-integrador/src/components/Header/Header.js
  Frontend/proyecto-integrador/src/components/Login/Login.js
  Frontend/proyecto-integrador/src/components/Register/Register.js
  Frontend/proyecto-integrador/src/hooks/sessionStorage.js
  Frontend/proyecto-integrador/src/hooks/useForm.js
Due: frontend_build_job, frontend_deploy_job

FIXES
  Frontend/proyecto-integrador/src/components/Register/Register.js
  Frontend/proyecto-integrador/src/hooks/useForm.js
Due: frontend_build_job, frontend_deploy_job

se genera el navbar con informacion del usuario
  Frontend/proyecto-integrador/src/hooks/useForm.js
Due: frontend_build_job, frontend_deploy_job

merge
  Frontend/proyecto-integrador/src/components/Header/Header.js
Due: frontend_build_job, frontend_deploy_job

final merge
  .idea/grupo-09.iml
  .idea/modules.xml
  .idea/workspace.xml
  .vscode/settings.json
  Backend/pom.xml
  Backend/src/main/resources/application.properties
Due: build-backend, test-backend, deploy-backend

FIXES DDBB
  .idea/workspace.xml
  Backend/src/main/resources/application.properties
  Frontend/proyecto-integrador/package-lock.json
  Frontend/proyecto-integrador/src/App.css
  Frontend/proyecto-integrador/src/App.js
  Frontend/proyecto-integrador/src/components/Bloque-buscador/Buscador.js
  Frontend/proyecto-integrador/src/components/Body/Body.module.css
  Frontend/proyecto-integrador/src/components/Categoria/SeccionCategoria.js
  Frontend/proyecto-integrador/src/components/Footer/Footer.module.css
  Frontend/proyecto-integrador/src/components/Footer/social.module.css
  Frontend/proyecto-integrador/src/components/Header/Header.js
  Frontend/proyecto-integrador/src/components/Register/Register.js
  Frontend/proyecto-integrador/src/components/Reserva/ReservaWrapper.js
  Frontend/proyecto-integrador/src/components/Reserva/bloques/Detalles.js
  Frontend/proyecto-integrador/src/components/Tarjeta-Producto/Producto.js
  Frontend/proyecto-integrador/src/service/EndPoint.js
  Frontend/proyecto-integrador/src/utils/utils.js
Due: build-backend, frontend_build_job, test-backend, deploy-backend, frontend_deploy_job

Home
  .idea/workspace.xml
  Frontend/proyecto-integrador/src/App.js
  Frontend/proyecto-integrador/src/components/Home/Home.js
  Frontend/proyecto-integrador/src/service/EndPoint.js
Due: frontend_build_job, frontend_deploy_job

ADD: filtro por categoria
  .idea/workspace.xml
  Backend/src/main/java/com/example/Backend/controller/ProductoController.java
  Backend/src/main/java/com/example/Backend/repository/IProductoRepository.java
  Backend/src/main/java/com/example/Backend/service/ProductoService.java
  Backend/src/test/java/com/example/Backend/service/CategoriaServiceTest.java
  Backend/src/test/java/com/example/Backend/service/ImagenServiceTest.java
  Backend/src/test/java/com/example/Backend/service/ProductoServiceTest.java
  Frontend/proyecto-integrador/src/components/Categoria/Categoria.js
  Frontend/proyecto-integrador/src/components/Categoria/Categoria.module.css
  Frontend/proyecto-integrador/src/components/Categoria/SeccionCategoria.js
  Frontend/proyecto-integrador/src/components/Home/Home.js
  Frontend/proyecto-integrador/src/components/Listado/Listado.js
  Frontend/proyecto-integrador/src/service/productoApi.js
Due: build-backend, frontend_build_job, test-backend, deploy-backend, frontend_deploy_job
