Repository SabrinaDiLeva/ProyectoIntegrador_Grupo9: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, frontend_build_job, test-backend, deploy-backend, frontend_deploy_job

.gitlab-ci.yml:

stages:
  - build
  - test
  - deploy


build-backend:
  stage: build
  image: maven:3.8.6-openjdk-18-slim
  script:
    - cd ./Backend
    - echo "Compiling the code..."
    - mvn clean install 
    - mvn compile jar:jar
    - mvn package

  artifacts:
    paths:
      - Backend/target/PIGrupo9.jar

  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main"'
      changes:
        - Backend/**/*


frontend_build_job:
  stage: build
  image: node:latest
  script:
    - cd ./Frontend/proyecto-integrador
    - echo "Start building App"
    - npm install
    - CI=false npm run build
    - echo "Build successfully!"
  artifacts:
    paths:
      - Frontend/proyecto-integrador/build/
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main"'
      changes:
        - Frontend/**/*

test-backend:
  stage: test
  script:
    - echo "Running unit tests..."
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main"'
      changes:
        - Backend/**/*

deploy-backend:
  stage: deploy
  image: alpine:3.11
  before_script:
    - apk update && apk add openssh-client bash
    - mkdir -p ~/.ssh
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - touch ~/.ssh/config
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
    - ssh-keyscan -H $DEPLOY_SERVER_IP >> ~/.ssh/known_hosts
    
  script:
    - ssh ubuntu@$DEPLOY_SERVER_IP "sudo apt install openjdk-18-jdk -y"
    # - ssh ubuntu@$DEPLOY_SERVER_IP "sudo systemctl stop tomcat"
    - scp ./Backend/target/PIGrupo9.jar ubuntu@$DEPLOY_SERVER_IP:/home/ubuntu/tmp/PIGrupo9.jar
    # - ssh ubuntu@$DEPLOY_SERVER_IP "sudo mv /home/ubuntu/tmp/PIGrupo9.war /opt/tomcat/webapps/PIGrupo9.war"
    - ssh ubuntu@$DEPLOY_SERVER_IP "cd /home/ubuntu/tmp/; sudo nohup java -jar PIGrupo9.jar &."
    # - ssh ubuntu@$DEPLOY_SERVER_IP "sudo systemctl start tomcat"

  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main"'
      changes:
        - Backend/**/*

frontend_deploy_job:
  stage: deploy
  image: python:latest
  script:
      - echo "Deploying App"
      - pip3 install awscli
      - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
      - aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY
      - aws s3 sync ./Frontend/proyecto-integrador/build s3://$S3_BUCKET_NAME --delete
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main"'
      changes:
        - Frontend/**/*

cambio a .jar
  Backend/pp.txt
Due: build-backend, test-backend, deploy-backend

cambio endpoints
  .gitlab-ci.yml
  Frontend/proyecto-integrador/src/service/categoriaApi.js
  Frontend/proyecto-integrador/src/service/ciudadApi.js
  Frontend/proyecto-integrador/src/service/imagenApi.js
  Frontend/proyecto-integrador/src/service/productoApi.js
Due: frontend_build_job, frontend_deploy_job

pom + yml
  .gitlab-ci.yml
  Backend/pom.xml
Due: build-backend, test-backend, deploy-backend

yml
  .gitlab-ci.yml
  Backend/.gitignore
Due: build-backend, test-backend, deploy-backend

cambio endpoint
  Frontend/proyecto-integrador/src/service/EndPoint.js
  Frontend/proyecto-integrador/src/service/categoriaApi.js
  Frontend/proyecto-integrador/src/service/ciudadApi.js
  Frontend/proyecto-integrador/src/service/imagenApi.js
  Frontend/proyecto-integrador/src/service/productoApi.js
Due: frontend_build_job, frontend_deploy_job

Add new file
  Testing SP3
Due: none

git ignore
  Backend/.gitignore
Due: build-backend, test-backend, deploy-backend

git ignore
  .gitignore
Due: none

prueba pipelines
  Backend/pp.txt
  Frontend/pp.txt
Due: build-backend, frontend_build_job, test-backend, deploy-backend, frontend_deploy_job

comentar test + correccion package.json front
  Backend/src/test/java/com/ProyectoIntegradorGrupo9ApplicationTests.java
  Backend/src/test/java/com/controller/CategoriaControllerTest.java
  Backend/src/test/java/com/service/CaracteristicaServiceTest.java
  Backend/src/test/java/com/service/CategoriaServiceTest.java
  Backend/src/test/java/com/service/CiudadServiceTest.java
  Backend/src/test/java/com/service/ImagenServiceTest.java
  Backend/src/test/java/com/service/ProductoServiceTest.java
  Frontend/proyecto-integrador/package.json
Due: build-backend, frontend_build_job, test-backend, deploy-backend, frontend_deploy_job

resolviendo merge conflicts
  Frontend/pp.txt
  Frontend/proyecto-integrador/package-lock.json
  Frontend/proyecto-integrador/src/App.css
  Frontend/proyecto-integrador/src/App.js
  Frontend/proyecto-integrador/src/components/Bloque-buscador/Buscador.js
  Frontend/proyecto-integrador/src/components/Bloque-buscador/Buscador.module.css
  Frontend/proyecto-integrador/src/components/Categoria/Categoria.js
  Frontend/proyecto-integrador/src/components/Categoria/Categoria.module.css
  Frontend/proyecto-integrador/src/components/Categoria/SeccionCategoria.js
  Frontend/proyecto-integrador/src/components/Footer/Footer.js
  Frontend/proyecto-integrador/src/components/Footer/Footer.module.css
  Frontend/proyecto-integrador/src/components/Header/Header.js
  Frontend/proyecto-integrador/src/components/Header/Header.module.css
  Frontend/proyecto-integrador/src/components/Layout/Layout.js
  Frontend/proyecto-integrador/src/components/Listado/Card.js
  Frontend/proyecto-integrador/src/components/Listado/Card.module.css
  Frontend/proyecto-integrador/src/components/Listado/Listado.js
  Frontend/proyecto-integrador/src/components/Listado/Listado.module.css
  Frontend/proyecto-integrador/src/components/Login/Login.js
  Frontend/proyecto-integrador/src/components/Login/login.module.css
  Frontend/proyecto-integrador/src/components/Register/Register.js
  Frontend/proyecto-integrador/src/components/Register/register.module.css
  Frontend/proyecto-integrador/src/components/Tarjeta-Producto/Producto.js
  Frontend/proyecto-integrador/src/components/Tarjeta-Producto/TarjetaProducto.js
  Frontend/proyecto-integrador/src/components/Tarjeta-Producto/subcomponents/CalificacionEstrellas.js
  Frontend/proyecto-integrador/src/components/Tarjeta-Producto/subcomponents/Galeria.js
  Frontend/proyecto-integrador/src/components/Tarjeta-Producto/subcomponents/HeaderInformacion.js
  Frontend/proyecto-integrador/src/components/Tarjeta-Producto/tarjetaProducto.module.css
  Frontend/proyecto-integrador/src/components/ui/icons.js
  Frontend/proyecto-integrador/src/hooks/useForm.js
Due: frontend_build_job, frontend_deploy_job

correccion seccion categoria
  Frontend/proyecto-integrador/src/components/Categoria/SeccionCategoria.js
Due: frontend_build_job, frontend_deploy_job

pipe back
  Backend/pp.txt
Due: build-backend, test-backend, deploy-backend

boton buscar
  Frontend/proyecto-integrador/src/components/Bloque-buscador/Buscador.js
  Frontend/proyecto-integrador/src/service/ciudadApi.js
Due: frontend_build_job, frontend_deploy_job

yml
  .gitlab-ci.yml
  Backend/pp.txt
Due: build-backend, test-backend, deploy-backend

yml
  .gitlab-ci.yml
Due: none

primeras letras de ciudad
  Backend/src/main/java/com/controller/CiudadController.java
  Backend/src/main/java/com/service/CiudadService.java
Due: build-backend, test-backend, deploy-backend

filtro ciudad y fechas
  Backend/src/main/java/com/controller/ProductoController.java
  Backend/src/main/java/com/service/ProductoService.java
Due: build-backend, test-backend, deploy-backend

constructores default
  Backend/src/main/java/com/controller/ProductoController.java
  Backend/src/main/java/com/dto/command/CaracteristicaDTO.java
  Backend/src/main/java/com/dto/command/CategoriaDTO.java
  Backend/src/main/java/com/dto/command/CiudadDTO.java
  Backend/src/main/java/com/dto/command/ProductoDTO.java
  Backend/src/main/java/com/dto/command/ReservaDTO.java
  Backend/src/main/java/com/dto/command/UsuarioDTO.java
Due: build-backend, test-backend, deploy-backend

getById y put de producto
  Backend/src/main/java/com/controller/ProductoController.java
  Backend/src/main/java/com/dto/command/ProductoDTO.java
  Backend/src/main/java/com/model/Producto.java
Due: build-backend, test-backend, deploy-backend

reserva por usuario
  Backend/src/main/java/com/controller/ReservaController.java
  Backend/src/main/java/com/repository/IReservaRepository.java
  Backend/src/main/java/com/service/ReservaService.java
Due: build-backend, test-backend, deploy-backend

back
  Backend/pp.txt
Due: build-backend, test-backend, deploy-backend

yml
  Backend/pp.txt
Due: build-backend, test-backend, deploy-backend

yml con service
  .gitlab-ci.yml
  Backend/pp.txt
Due: build-backend, test-backend, deploy-backend

cambio link back
  Backend/src/main/java/com/controller/CaracteristicaController.java
  Backend/src/main/java/com/controller/CategoriaController.java
  Backend/src/main/java/com/controller/CiudadController.java
  Backend/src/main/java/com/controller/ImagenController.java
  Backend/src/main/java/com/controller/ProductoController.java
  Backend/target/classes/com/controller/CaracteristicaController.class
  Backend/target/classes/com/controller/CategoriaController.class
  Backend/target/classes/com/controller/CiudadController.class
  Backend/target/classes/com/controller/ImagenController.class
  Backend/target/classes/com/controller/ProductoController.class
  Frontend/proyecto-integrador/package-lock.json
Due: build-backend, frontend_build_job, test-backend, deploy-backend, frontend_deploy_job

cambio crossorigin
  Backend/src/main/java/com/controller/CaracteristicaController.java
  Backend/src/main/java/com/controller/CategoriaController.java
  Backend/src/main/java/com/controller/CiudadController.java
  Backend/src/main/java/com/controller/ImagenController.java
  Backend/src/main/java/com/controller/ProductoController.java
  Backend/src/main/java/com/controller/ReservaController.java
  Backend/src/main/java/com/controller/UsuarioController.java
  Backend/target/classes/com/controller/CaracteristicaController.class
  Backend/target/classes/com/controller/CategoriaController.class
  Backend/target/classes/com/controller/CiudadController.class
  Backend/target/classes/com/controller/ImagenController.class
  Backend/target/classes/com/controller/ProductoController.class
  Backend/target/classes/com/controller/ReservaController.class
  Backend/target/classes/com/controller/UsuarioController.class
Due: build-backend, test-backend, deploy-backend

buscador
  Frontend/proyecto-integrador/src/components/Bloque-buscador/Buscador.js
Due: frontend_build_job, frontend_deploy_job
